
/* coté designe  de lanimation */

/* imgage 1 */
#img11  {
   
    position:absolute;
    top:25px;
    left:25px;
    width:600px;
    height:400px;
    z-index:1;
    }

/* image 2 */

#img22 {    
    position:absolute;
    top:10px;
    left:200px;
    width:460px;
    height:380px;
    z-index:3;
    }  

/* image 3*/
#img33 {    
    position:absolute;
    top:120px;
    left:310px;
    width:250px;
    height:250px;
    z-index:2;
    }

/* image 4 */

#img44 {    
    position:absolute;
    top:120px;
    left:310px;
    width:220px;
    height:180px;
    z-index:4;
    }

/* image 5*/
  
#img55 {    
    position:absolute;
    top:130px;
    left:350px;
    width:140px;
    height:160px;
    z-index:2;
    }   
/* image 6*/  

#img66 {    
    position:absolute;
    top:130px;
    left:300px;
    width:260px;
    height:190px;
    z-index:1;
    }
/* image 7*/
  
#img77 {   
    position:absolute;
    top:230px;
    left:220px;
    width:260px;
    height:190px;
    z-index:3;
    }
/* image 8 */
#img88 {   
    position:absolute;
    top:230px;
    left:100px;
    width:200px;
    height:190px;
    z-index:3;
    }
/* image 9 */
#img99 {
    position:absolute;
    top:140px;
    left:70px;
    width:200px;
    height:190px;
    z-index:3;
    }
/* image 10 */

#img10 {
  
    position:absolute;
    top:170px;
    left:30px;
    width:80px;
    height:70px;
    z-index:2;
    }
/* image11 */
#img111 {
    position:absolute;
    top:220px;
    left:400px;
    width:80px;
    height:70px;
    z-index:3;
    }

/* image 12 */                    
#img12 {
    position:absolute;
    top:220px;
    left:400px;
    width:80px;
    height:70px;
    z-index:3;
    }
/* image 13 */
#img13 {
    position:absolute;
    top:220px;
    left:160px;
    width:80px;
    height:70px;
    z-index:3;
    }
    
    